﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <textarea id="markdown" cols="100" rows="20" placeholder="Enter markdown here..."></textarea>
    <div style="padding-bottom:5px;"><input id="convert" type="button" value="CONVERT TO HTML" /></div>
    <textarea id="output" cols="100" rows="20" placeholder="HTML will appear here!"></textarea>
    <div id="outputHtml"></div>
</div>